# {{ ansible_managed }}
network:
  version: 2
  ethernets:
    enp89s0:
      dhcp4: false
  vlans:
    vlan11:
      id: 11
      link: enp89s0
    vlan192:
      id: 192
      link: enp89s0
  bridges:
    br0:
      dhcp4: true
      macaddress: "92:B9:36:6D:7F:97"
      interfaces:
        - enp89s0
    # The cluster VLAN; the host deliberately has no address, not even link-local, on it.
    br11:
      interfaces:
        - vlan11
      dhcp4: false
      accept-ra: false
      link-local: []
    # The home network, for worker2's second NIC; untagged in the guest keeps it off labnet's L2.
    br192:
      interfaces:
        - vlan192
      dhcp4: false
      accept-ra: false
      link-local: []
