# {{ ansible_managed }}
MODEL={{ item.value.model }}
{% if item.value.ctx is defined %}
CTX={{ item.value.ctx }}
{% endif %}
{% if item.value.extra_args is defined %}
EXTRA_ARGS="{{ item.value.extra_args }}"
{% endif %}
