services:
  alloy:
    container_name: alloy
    restart: unless-stopped
    privileged: true
    network_mode: host
    image: {{ 'ghcr.io/dancavallaro/alloy:v1.20.0-spiffe' if enable_spiffe else 'grafana/alloy:v1.20.0' }}
    command:
      - run
      - --server.http.listen-addr=127.0.0.1:12345
{% if enable_spiffe %}
      - --stability.level=experimental
{% endif %}
      - /etc/alloy.d
    volumes:
      - /:/host/root:ro
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /run/udev/data:/host/udev:ro
      - ./alloy:/etc/alloy.d
{% if enable_spiffe %}
      - /var/run/spirl:/var/run/spirl
    # Otherwise spirl's Docker attestor sees the host cgroup mounts above as a second container ID.
    cgroup: host
    depends_on:
      - spirl-agent
{% endif %}
{% if enable_spiffe %}
  spirl-agent:
    container_name: spirl-agent
    restart: unless-stopped
    image: ghcr.io/spirl/spirl-agent:v0.44.0
    command: [ "/spirl-agent", "--config-file-path", "/etc/spirl/agent-config.yaml" ]
    pid: host
    ports:
      - 3470:80
    volumes:
      # Make the agent's workload endpoint socket available to the host
      - /var/run/spirl:/var/run/spirl
      # Make the host's Docker socket available to the agent (for Docker workload attestation)
      - /var/run/docker.sock:/var/run/docker.sock
      - ./defakto:/etc/spirl
      - /etc/passwd:/etc/passwd:ro
      - /etc/group:/etc/group:ro
{% endif %}
